[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
python-dotenv = "*"
teams-ai = "==1.6.0"
fitz = "*"
pymupdf = "*"
pdfplumber = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.11"
